@{
  Layout = "_Layout";
}

@model Treats.Models.Treat;

<h2>Treat Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if(@Model.Flavors.Count == 0)
{
  <p>This treat does not contain any flavors</p>
}
else
{
  <h4>Flavors the treat contains:</h4>
  <ul>
  @foreach(var join in Model.Flavors)
  {
    <li>@join.Flavor.Description</li>
  }
  </ul>
}

<p>@Html.ActionLink("Back to treats", "Index")</p>
<p>@Html.ActionLink("Add a Flavor", "AddFlavor", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Edit treat", "Edit", new { id = Model.TreatId })</p>
<p>@Html.ActionLink("Delete treat", "Delete", new { id = Model.TreatId })</p>